<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Carma Counter</title>
</head>
<body>
<h1> Carma Counter </h1>
<table border="2" width="700" align="center" height="100">

    <tr>
        <td>
            <label for="carma_counter">Enter the "yes" if have illegal sex: </label>
        </td>
        <td>
            <input type="text" name="carma_counter" id="carma_counter" size="40" required>
        </td>
    </tr>

    <tr>
        <td>
            <label for="carma_counter">Enter the "yes" if eat meat: </label>
        </td>
        <td>
            <input type="text" name="carma_counter" id="carma_counter" size="40" required>
        </td>
    </tr>

    <tr>
        <td>
            <label for="carma_counter">Enter the "yes" if have gambling: </label>
        </td>
        <td>
            <input type="text" name="carma_counter" id="carma_counter" size="40" required>
        </td>
    </tr>

    <tr>
        <td>
            <label for="carma_counter">Enter the "yes" if smoke, drink, consume drugs: </label>
        </td>
        <td>
            <input type="text" name="carma_counter" id="carma_counter" size="40" required>
        </td>
    </tr>

</table>
</body>
</html>