allure-behave==2.8.31
allure-pytest==2.8.31
allure-python-commons==2.8.31
appdirs==1.4.4
Appium-Python-Client==1.0.2
asgiref==3.3.1
atomicwrites==1.4.0
attrs==20.3.0
behave==1.2.6
certifi==2020.12.5
chardet==4.0.0
colorama==0.4.4
distlib==0.3.1
Django==3.1.5
djangorestframework==3.12.2
filelock==3.0.12
idna==2.10
iniconfig==1.1.1
more-itertools==8.6.0
mysqlclient==2.0.3
numpy==1.19.5
packaging==20.8
parse==1.19.0
parse-type==0.5.2
pluggy==0.13.1
py==1.10.0
pyparsing==2.4.7
pyTelegramBotAPI==3.7.5
pytest==6.1.2
pytz==2020.5
requests==2.25.1
selenium==3.141.0
six==1.15.0
sqlparse==0.4.1
style==1.1.6
telebot==0.0.4
toml==0.10.2
update==0.0.1
urllib3==1.26.2
virtualenv==20.4.0
wcwidth==0.2.5
